*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    background: #f1cece;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #de29b3;
}

input[type="text"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button {
    padding: 10px;
    background-color: #ef70ed;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #f6a1c1;
}



li {
    padding: 10px;
    border: 1px solid #ccc;
    margin-top: 5px;
    cursor: pointer;
}

li:hover {
    background-color: #de29b3;
}